@model List<JobOffer>

@{
    ViewData["Title"] = "Job Offers";
}

<h2>Open Jobs</h2>

<ul>
    @foreach(var offer in Model)
    {
        <li>@Html.ActionLink(offer.JobTitle, "Details", "JobOffer", new { id = offer.Id })</li>
    }
</ul>