@{
    ViewData["Title"] = "CV manager";
}

<div class="container">
    <h1 class="row col-lg-12">Best place for all job related stuff</h1>
    <h3 class="col-lg-12 row">@Html.ActionLink("You probably want to go here", "Index", "JobOffer")</h3>
    <img src="images/work.jpg" class="col-xs-12 row">
</div>